.window_controls_container {
  display: flex;
  -webkit-app-region: no-drag;
  height: 100%;
  line-height: 25px;
  text-align: center;
  padding: 0;
}

.window_traffic_lights {
  margin-left: auto;
}

.window_settings_context_menu_container {
  cursor: pointer;
}

.window_icon {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 35px;
  line-height: 29px;
  color: rgb(204, 204, 204);
  transition: 0.2s;
}

.window_icon:hover {
  background-color: rgba(0, 0, 0, 0.36);
}

.window_close:hover {
  background-color: #cc0000;
}
